<div class="vxus">
    <div class="vxus-info">
        <div class="left-info">
            <div class="topleft-info">
                <h1>VXUS<br>Total International Stock ETF</h1>
                <p>Also available as a <a href="#" style="color:#96151d;">mutual fund</a></p>
            </div>
            <div class="botleft-info">
                <button>Summary prospectus</button><button>Fact Sheet</button><button>Compare Product</button>
            </div>
        </div>
        <div class="right-info">
            <div class="stat-box">
                <p>Market Price</p>
                <h4>$61.76</h4>
                <p>as of 01/28/2021</p>
            </div>
            <div class="wide-stat-box">
                <p>Market Price Change</p>
                <h4>↑ $0.52 (0.85%)</h4>
                <p>as of 01/28/2021</p>
            </div>
            <div class="stat-box">
                <p>Nav</p>
                <h4>$61.63</h4>
                <p>as of 01/28/2021</p>
            </div>
            <div class="wide-stat-box">
                <p>Nav Change</p>
                <h4>↑ $0.32 (0.52%)</h4>
                <p>as of 01/28/2021</p>
            </div>
            <div class="stat-box">
                <p>Expense Ratio</p>
                <h4>0.08%</h4>
                <p>as of 02/27/2020</p>
            </div>
            <div class="wide-stat-box">
                <p>Management Style</p>
                <h4>Index</h4>
            </div>
        </div>
    </div>
    <div class="navbar">
        <nav>
            <ul>
                <li style="list-style-type: none;"><a href="#" style="color:gray;">Overview</a></li>
                <li style="list-style-type: none;"><a href="#" style="color:gray;">Performance</a></li>
                <li style="list-style-type: none;"><a href="#" style="color:gray;">Price & distributions</a></li>
                <li style="list-style-type: none;"><a href="#" style="color:gray;">Portfolio</a></li>
                <li style="list-style-type: none;"><a href="#" style="color:gray;">Risk</a></li>
                <li style="list-style-type: none;"><a href="#" style="color:gray;">Fund management</a></li>
                <li style="list-style-type: none;"><a href="#" style="color:gray;">Fund literature</a></li>
            </ul>
        </nav>
    </div>
</div>
