<footer>
    <div class="top-footer">
      <!-- Container around contact and nav?? -->
      <div class="footer-contact">
        <h1>Vanguard</h1>
        <div class="contact-info">
          <a href="#">Call Us</a><a href="#">Contact Us</a><a href="#">LinkedIn</a><a href="#">Twitter</a>
        </div>
        <div class="info-links">
          <p>
            <a href="#" style="display:inline;text-decoration: underline;color: #96151d;"><b>Tax center</b></a><span>– Your source for important tax information on all Vanguard investment products</span><br>
            <a href="#" style="display:inline;text-decoration: underline;color: #96151d;"><b>Literature</b></a><span>– Download and order resources to help you build your business</span>
          </p>
        </div>
      </div>
      <div class="footer-nav">
        <div class="invst-appr">
          <h2>Investment approaches</h2>
          <ul>
            <li style="list-style-type: none;"><a href="#" style="color:gray;">All investments</a></li>
            <li style="list-style-type: none;"><a href="#" style="color:gray;">Active Fixed Income</a></li>
            <li style="list-style-type: none;"><a href="#" style="color:gray;">Factor-based strategies</a></li>
            <li style="list-style-type: none;"><a href="#" style="color:gray;">ETF investing</a></li>
            <li style="list-style-type: none;"><a href="#" style="color:gray;">Indexing</a></li>
            <li style="list-style-type: none;"><a href="#" style="color:gray;">ESG strategies</a></li>
          </ul>
        </div>
        <div class="port-cnstrct">
          <h2>Portfolio construction tools</h2>
          <ul>
            <li style="list-style-type: none;"><a href="#" style="color:gray;">Compare products</a></li>
            <li style="list-style-type: none;"><a href="#" style="color:gray;">Portfolio analytics</a></li>
            <li style="list-style-type: none;"><a href="#" style="color:gray;">Model portfolios</a></li>
            <li style="list-style-type: none;"><a href="#" style="color:gray;">Holding Search</a></li>
          </ul>
        </div>
        <div class="advsrs-alpha">
          <h2>Advisor's Alpha®</h2>
          <ul>
            <li style="list-style-type: none;"><a href="#" style="color:gray;">Advisor's Alpha®</a></li>
            <li style="list-style-type: none;"><a href="#" style="color:gray;">401(k) plan solutions</a></li>
            <li style="list-style-type: none;"><a href="#" style="color:gray;">CE credits</a></li>
          </ul>
        </div>
        <div class="insights">
          <h2>Insights</h2>
          <ul>
            <li style="list-style-type: none;"><a href="#" style="color:gray;">Economy & markets</a></li>
            <li style="list-style-type: none;"><a href="#" style="color:gray;">Investments</a></li>
            <li style="list-style-type: none;"><a href="#" style="color:gray;">Client relationships</a></li>
            <li style="list-style-type: none;"><a href="#" style="color:gray;">E-newsletters</a></li>
            <li style="list-style-type: none;"><a href="#" style="color:gray;">View all insights</a></li>
          </ul>
        </div>
        
      </div>
    </div>
    <hr>
    <div class="bottom-footer">
      <!-- Container around p and links?? -->
      <p>© 1995-2021 The Vanguard Group, Inc. All rights reserved. Vanguard Marketing Corporation, Distributor of the Vanguard Funds. Your use of this site signifies that you accept our <a href="#" style="display:inline;text-decoration: underline;color:black;">terms and conditions of use</a>.</p>
      <ul>
        <li style="list-style-type: none; display:inline;"><a href="#" style="display:inline;text-decoration: underline;color:black;">Privacy Center</a> |</li>
        <li style="list-style-type: none; display:inline;">&nbsp;<a href="#" style="display:inline;text-decoration: underline;color:black;">Do Not Sell My Personal Information</a> |</li>
        <li style="list-style-type: none; display:inline;">&nbsp;<a href="#" style="display:inline;text-decoration: underline;color:black;">Obtain prospectus</a> |</li>
        <li style="list-style-type: none; display:inline;">&nbsp;<a href="#" style="display:inline;text-decoration: underline;color:black;">Site security</a> |</li>
        <li style="list-style-type: none; display:inline;">&nbsp;<a href="#" style="display:inline;text-decoration: underline;color:black;">AdChoices</a> |</li>
        <li style="list-style-type: none; display:inline;">&nbsp;<a href="#" style="display:inline;text-decoration: underline;color:black;">Special notice to non-U.S. investors</a></li>
      </ul>
    </div>
</footer>