<section class="subcribe">
    <div class="sub-text">
      <h2>Stay up to date</h2>
      <p>Sign up for our digest featuring the latest insights on the economy and the markets, investment strategies, and deepening your client relationships.</p>
      <p>Announcements include fund openings/closings, fund manager, changes, dividend distributions, webinars, and more.</p>
    </div>
    <div class="email-form">
      <form>
        <fieldset>
          <legend>Sign up to receive emails</legend>
          <input type="checkbox" id="ad-digest">
          <label for="ad-digest">Get the Advisor's Digest</label>
          <input type="checkbox" id="van-ann">
          <label for="van-ann">Get Vanguard announcements</label>
        </fieldset>
        <input type="email" id="email-box" required>
        <label for="email-box">Email Address</label>
        <button type="submit">Submit</button>
      </form>
    </div>
    <p>
      Read our <a href="#" style="display:inline;text-decoration: underline;">privacy statement</a> to learn about how we keep your personal information private.
    </p>
  </section>