<div class="header">
    <div class="header-top">
      <div class="header-top-left">
        <button class="fin-ad-btn">Financial Advisors</button>
        <div class="fin-ad-drpdwn">
          <ul>
            <li><a href="#" style="color:gray;">Personal Investors</a></li>
            <li><a href="#" style="color:gray;">Retirement plan participants</a></li>
            <li><a href="#" style="color:gray;">Institutional investors</a></li>
            <li><a href="#" style="color:gray;">Financial advisors</a></li>
            <li><a href="#" style="color:#96151d;">Set site preference ></a></li>
            <li><a href="#" style="color:gray;">Non-U.s. investors</a></li>
            <li><a href="#" style="color:gray;">Small Business Online</a></li>
            <li><a href="#" style="color:gray;">My Plan Manager™</a></li>
            <li><a href="#" style="color:gray;">Institutional Trading</a></li>
            <li><a href="#" style="color:gray;">About Vanguard</a></li>
            <li><a href="#" style="color:gray;">Pressroom</a></li>
            <li><a href="#" style="color:gray;">Career opportunities</a></li>
            <li><a href="#" style="color:gray;">Other Vanguard sites</a></li>
          </ul>
        </div>
      </div>
      <div class="header-top-right">
        <a href="#" style="color:gray;">Contact us</a>
        <a href="#" style="color:gray;">Sign in</a>
      </div>
    </div>
    <div class="header-bot">
      <div class="header-logo">
        <a href="#"> <img src="../assets/download.svg"> </a>
      </div>
      <div class="header-menu">
        <ul>
          <li><a href="#">Investments</a></li>
          <li><a href="#">Advisor's Alpha®</a></li>
          <li><a href="#">Insights</a></li>
          <li><a href="#">Why Vanguard</a></li>
          <li><a href="#">Tax Center</a></li>
        </ul>
      </div>
      <div class="header-search">
        <button><mat-icon>search</mat-icon></button>
      </div>
    </div>
</div>