<div class="header">
    <div class="header-top">
      <div class="header-top-left">
        <button class="fin-ad-btn">Financial Advisors</button>
        <div class="fin-ad-drpdwn">
          <a href="#" style="color:gray;">Personal Investors</a>
          <a href="#" style="color:gray;">Retirement plan participants</a>
          <a href="#" style="color:gray;">Institutional investors</a>
          <a href="#" style="color:gray;">Financial advisors</a>
          <a href="#" style="color:#96151d;">Set site preference ></a>
          <a href="#" style="color:gray;">Non-U.s. investors</a>
          <a href="#" style="color:gray;">Small Business Online</a>
          <a href="#" style="color:gray;">My Plan Manager™</a>
          <a href="#" style="color:gray;">Institutional Trading</a>
          <a href="#" style="color:gray;">About Vanguard</a>
          <a href="#" style="color:gray;">Pressroom</a>
          <a href="#" style="color:gray;">Career opportunities</a>
          <a href="#" style="color:gray;">Other Vanguard sites</a>
        </div>
      </div>
      <div class="header-top-right">
        <a href="#" style="color:gray;">Contact us</a>
        <a href="#" style="color:gray;">Sign in</a>
      </div>
    </div>
    <div class="header-bot"></div>
</div>